
.outerWrap{
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFE6AC;
}

.innerWrap{
    width: 100%;
    max-width: 1280px;
    height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}

.homeHeading{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.flexHori{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px;
}